[Unit]
Description=Market Report Agent continuous scheduler
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app
EnvironmentFile=D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-venv/bin/python scripts/market_report_agent.py
Restart=always
RestartSec=10
User=report-user
Group=report-group
StandardOutput=journal
StandardError=journal
SyslogIdentifier=market-report-agent

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app/data D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app/reports D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app/logs D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app/runtime
ReadOnlyPaths=D:\Projects\api-report-agent\pytest_temp\test_custom_deploy_root_and_ve0\custom-app

[Install]
WantedBy=multi-user.target
